* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Oswald', sans-serif;
  background-color: #8daba7;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.6em;
}

span.h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.02em;
  color: #6aa49c;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

p {
  font-family: 'Lato', sans-serif;
}

nav {
  display: block;
}

nav ul {
  margin: 0 auto;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
}

nav ul li {
  margin: 0 auto;
  text-transform: uppercase;
  color: #FFF;
  display: inline-block;
  padding: 1.5vh 3vw;
  font-size: 1em;
}

nav ul a {
  color: #FFF;
  text-decoration: none;
}

nav ul a:hover {
  color: #8daba7;
}

#ocean-header {
  background-image: url(../assets/ocean.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.welcome-text {
  margin: 30vh auto;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 75vw;
  height: 35vh;
  padding: 40px;
}

/*#container {
  margin: 0 auto;
  /*padding: 10vh;*/
  /*width: 100vw;
  background-color: #8daba7;
}*/

#about-section, #resume, #projects, #contact {
  width: 100%;
  height: 100vh;
  position: relative;
}

.about-one {
  width: 100%;
  margin: 10vh auto;
  height: auto;
  background-color: #8daba7;
}

.photo, .about-text {
  height: 60vh;
  background-color: #FFF;
  border: 1px solid gainsboro;
}

/*.about-text {
  height: 60vh;
  background-color: #FFF;
  border: 1px solid gainsboro;
}*/

.contact-text, .around-the-web {
  height: 20vh;
  margin-top: 5vh;
  background-color: #FFF;
  border: 1px solid gainsboro;
  float: left;
}

/*.around-the-web {
  height: 20vh;
  margin-top: 5vh;
  background-color: #FFF;
  border: 1px solid gainsboro;
  float: left;
}*/
