* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Oswald', sans-serif;
  background-color: #8daba7;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.6em;
}

span.h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.02em;
  color: #6aa49c;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

@media (max-width: 549px) {
  h1 { font-size: 2em; }
  h4 { font-size: 1em; }
}

p {
  font-family: 'Lato', sans-serif;
}

nav {
  display: block;
}

nav ul {
  margin: 0 auto;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
}

nav ul li {
  margin: 0 auto;
  text-transform: uppercase;
  color: #FFF;
  display: inline-block;
  padding: 1.5vh 3vw;
  font-size: 1em;
}

nav ul a {
  color: #FFF;
  text-decoration: none;
}

nav ul a:hover {
  color: #8daba7;
}

#ocean-header {
  background-image: url(../assets/ocean.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.welcome-text {
  margin: 30vh auto;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  vertical-align: center;
  max-width: 65vw;
  height: 35vh;
  padding: 40px;
}

@media (max-width: 549px) {
  .welcome-text {
    height: 65vh;
    margin: 10vh auto;
   }
}

#about-section, #resume, #projects, #contact {
  width: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
}

.about-one, .education, .experience, .skills {
  width: 100%;
  margin: 10vh auto;
  height: auto;
  background-color: #8daba7;
}

.photo, .about-text, .heading, .details {
  height: auto;
  background-color: #FFF;
  border: 1px solid gainsboro;
  overflow: auto;
}

@media (max-width: 459px) {
  .heading {
    height: auto;
  }
}

.contact-text, .around-the-web {
  height: 20vh;
  margin-top: 5vh;
  background-color: #FFF;
  border: 1px solid gainsboro;
  float: left;
}

.heading, .details, .project {
  height: 60vh; /* temporary value */
  background-color: #FFF;
  margin-top: 2vh;
  border: 1px solid gainsboro;
}

.button {
  margin-top: 2vh;
  border-style: none;
}

button.resume {
  background-color: #FFF;
  color: #6aa49c;
  border-style: 2px gainsboro solid;
  transition: all 0.8s ease-in;
}

button.resume:hover {
  background-color: #6aa49c;
  color: #FFF;
  border-style: 1px #FFF solid;
}

.preview {
  margin: 2vh 0;
  width: 100%;
  border: 1px solid gainsboro;
}

.description {
  margin: 2vh 0;
  width: 100%;
  border: 1px solid gainsboro;
}

table {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

td {
  width: 33%;
}

@media (max-width: 549px) {
  .sm-hide {
    display: none;
  }
}

@media (min-width: 550px) {
  .lg-hide
}
